<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>png</key>
		<string>weixiao</string>
		<key>en</key>
		<string>[smile]</string>
		<key>zh-Hans</key>
		<string>[微笑]</string>
		<key>zh-Hant</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>daxiao</string>
		<key>en</key>
		<string>[laugh]</string>
		<key>zh-Hans</key>
		<string>[大笑]</string>
		<key>zh-Hant</key>
		<string>[大笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>se</string>
		<key>en</key>
		<string>[drool]</string>
		<key>zh-Hans</key>
		<string>[色]</string>
		<key>zh-Hant</key>
		<string>[色]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>haixiu</string>
		<key>en</key>
		<string>[shy]</string>
		<key>zh-Hans</key>
		<string>[害羞]</string>
		<key>zh-Hant</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>deyi</string>
		<key>en</key>
		<string>[proud]</string>
		<key>zh-Hans</key>
		<string>[得意]</string>
		<key>zh-Hant</key>
		<string>[得意]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>tiaopi</string>
		<key>en</key>
		<string>[naughty]</string>
		<key>zh-Hans</key>
		<string>[调皮]</string>
		<key>zh-Hant</key>
		<string>[調皮]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>haqian</string>
		<key>en</key>
		<string>[yawn]</string>
		<key>zh-Hans</key>
		<string>[哈欠]</string>
		<key>zh-Hant</key>
		<string>[哈欠]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>keai</string>
		<key>en</key>
		<string>[cute]</string>
		<key>zh-Hans</key>
		<string>[可爱]</string>
		<key>zh-Hant</key>
		<string>[可愛]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>hanxiao</string>
		<key>en</key>
		<string>[simper]</string>
		<key>zh-Hans</key>
		<string>[憨笑]</string>
		<key>zh-Hant</key>
		<string>[憨笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>dajie</string>
		<key>en</key>
		<string>[loot]</string>
		<key>zh-Hans</key>
		<string>[打劫]</string>
		<key>zh-Hant</key>
		<string>[打劫]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>nanguo</string>
		<key>en</key>
		<string>[sad]</string>
		<key>zh-Hans</key>
		<string>[难过]</string>
		<key>zh-Hant</key>
		<string>[難過]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>huaixiao</string>
		<key>en</key>
		<string>[smirk]</string>
		<key>zh-Hans</key>
		<string>[坏笑]</string>
		<key>zh-Hant</key>
		<string>[壞笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>bishi</string>
		<key>en</key>
		<string>[despise]</string>
		<key>zh-Hans</key>
		<string>[鄙视]</string>
		<key>zh-Hant</key>
		<string>[鄙視]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>guzhang</string>
		<key>en</key>
		<string>[applaud]</string>
		<key>zh-Hans</key>
		<string>[鼓掌]</string>
		<key>zh-Hant</key>
		<string>[鼓掌]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>bizui</string>
		<key>en</key>
		<string>[shutup]</string>
		<key>zh-Hans</key>
		<string>[闭嘴]</string>
		<key>zh-Hant</key>
		<string>[閉嘴]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>kelian</string>
		<key>en</key>
		<string>[pitiful]</string>
		<key>zh-Hans</key>
		<string>[可怜]</string>
		<key>zh-Hant</key>
		<string>[可憐]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>tu</string>
		<key>en</key>
		<string>[vomit]</string>
		<key>zh-Hans</key>
		<string>[吐]</string>
		<key>zh-Hant</key>
		<string>[吐]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>shui</string>
		<key>en</key>
		<string>[sleep]</string>
		<key>zh-Hans</key>
		<string>[睡]</string>
		<key>zh-Hant</key>
		<string>[睡]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>guilian</string>
		<key>en</key>
		<string>[grimace]</string>
		<key>zh-Hans</key>
		<string>[鬼脸]</string>
		<key>zh-Hant</key>
		<string>[鬼臉]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>fendou</string>
		<key>en</key>
		<string>[struggle]</string>
		<key>zh-Hans</key>
		<string>[奋斗]</string>
		<key>zh-Hant</key>
		<string>[奮鬥]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>qianmi</string>
		<key>en</key>
		<string>[avaricious]</string>
		<key>zh-Hans</key>
		<string>[钱迷]</string>
		<key>zh-Hant</key>
		<string>[錢迷]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>qinqin</string>
		<key>en</key>
		<string>[kiss]</string>
		<key>zh-Hans</key>
		<string>[亲亲]</string>
		<key>zh-Hant</key>
		<string>[親親]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>sikao</string>
		<key>en</key>
		<string>[think]</string>
		<key>zh-Hans</key>
		<string>[思考]</string>
		<key>zh-Hant</key>
		<string>[思考]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>weiqu</string>
		<key>en</key>
		<string>[wronged]</string>
		<key>zh-Hans</key>
		<string>[委屈]</string>
		<key>zh-Hant</key>
		<string>[委屈]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>touxiao</string>
		<key>en</key>
		<string>[titter]</string>
		<key>zh-Hans</key>
		<string>[偷笑]</string>
		<key>zh-Hant</key>
		<string>[偷笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>zuohengheng</string>
		<key>en</key>
		<string>[humph L]</string>
		<key>zh-Hans</key>
		<string>[左哼哼]</string>
		<key>zh-Hant</key>
		<string>[左哼哼]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>youhengheng</string>
		<key>en</key>
		<string>[humph R]</string>
		<key>zh-Hans</key>
		<string>[右哼哼]</string>
		<key>zh-Hant</key>
		<string>[右哼哼]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>xu</string>
		<key>en</key>
		<string>[shhh]</string>
		<key>zh-Hans</key>
		<string>[嘘]</string>
		<key>zh-Hant</key>
		<string>[噓]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>liulei</string>
		<key>en</key>
		<string>[weep]</string>
		<key>zh-Hans</key>
		<string>[流泪]</string>
		<key>zh-Hant</key>
		<string>[流淚]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>zhenjing</string>
		<key>en</key>
		<string>[shock]</string>
		<key>zh-Hans</key>
		<string>[震惊]</string>
		<key>zh-Hant</key>
		<string>[震驚]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>yun</string>
		<key>en</key>
		<string>[dizzy]</string>
		<key>zh-Hans</key>
		<string>[晕]</string>
		<key>zh-Hant</key>
		<string>[暈]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>yiwen</string>
		<key>en</key>
		<string>[why]</string>
		<key>zh-Hans</key>
		<string>[疑问]</string>
		<key>zh-Hant</key>
		<string>[疑問]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>xiangyao</string>
		<key>en</key>
		<string>[eager]</string>
		<key>zh-Hans</key>
		<string>[想要]</string>
		<key>zh-Hant</key>
		<string>[想要]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>zhuakuang</string>
		<key>en</key>
		<string>[crazy]</string>
		<key>zh-Hans</key>
		<string>[抓狂]</string>
		<key>zh-Hant</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>heiyan</string>
		<key>en</key>
		<string>[helpless]</string>
		<key>zh-Hans</key>
		<string>[黑眼]</string>
		<key>zh-Hant</key>
		<string>[黑眼]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ganga</string>
		<key>en</key>
		<string>[awkward]</string>
		<key>zh-Hans</key>
		<string>[尴尬]</string>
		<key>zh-Hant</key>
		<string>[尷尬]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>fanu</string>
		<key>en</key>
		<string>[angry]</string>
		<key>zh-Hans</key>
		<string>[发怒]</string>
		<key>zh-Hant</key>
		<string>[發怒]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>piezui</string>
		<key>en</key>
		<string>[discontent]</string>
		<key>zh-Hans</key>
		<string>[撇嘴]</string>
		<key>zh-Hant</key>
		<string>[撇嘴]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>qiaoda</string>
		<key>en</key>
		<string>[smash]</string>
		<key>zh-Hans</key>
		<string>[敲打]</string>
		<key>zh-Hant</key>
		<string>[敲打]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>zaijian</string>
		<key>en</key>
		<string>[bye]</string>
		<key>zh-Hans</key>
		<string>[再见]</string>
		<key>zh-Hant</key>
		<string>[再見]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>cabiti</string>
		<key>en</key>
		<string>[blow nose]</string>
		<key>zh-Hans</key>
		<string>[擦鼻涕]</string>
		<key>zh-Hant</key>
		<string>[擦鼻涕]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>chifan</string>
		<key>en</key>
		<string>[eat]</string>
		<key>zh-Hans</key>
		<string>[吃饭]</string>
		<key>zh-Hant</key>
		<string>[吃饭]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>fadai</string>
		<key>en</key>
		<string>[muzzy]</string>
		<key>zh-Hans</key>
		<string>[发呆]</string>
		<key>zh-Hant</key>
		<string>[發呆]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ganmao</string>
		<key>en</key>
		<string>[cold]</string>
		<key>zh-Hans</key>
		<string>[感冒]</string>
		<key>zh-Hant</key>
		<string>[感冒]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>koubi</string>
		<key>en</key>
		<string>[pick nose]</string>
		<key>zh-Hans</key>
		<string>[抠鼻]</string>
		<key>zh-Hant</key>
		<string>[抠鼻]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>kun</string>
		<key>en</key>
		<string>[sleepy]</string>
		<key>zh-Hans</key>
		<string>[困]</string>
		<key>zh-Hant</key>
		<string>[困]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>jiong</string>
		<key>en</key>
		<string>[embarrassed]</string>
		<key>zh-Hans</key>
		<string>[囧]</string>
		<key>zh-Hant</key>
		<string>[囧]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ciya</string>
		<key>en</key>
		<string>[grin]</string>
		<key>zh-Hans</key>
		<string>[呲牙]</string>
		<key>zh-Hant</key>
		<string>[呲牙]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>daku</string>
		<key>en</key>
		<string>[cry]</string>
		<key>zh-Hans</key>
		<string>[大哭]</string>
		<key>zh-Hant</key>
		<string>[大哭]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>lenghan</string>
		<key>en</key>
		<string>[frightened]</string>
		<key>zh-Hans</key>
		<string>[冷汗]</string>
		<key>zh-Hant</key>
		<string>[冷汗]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>zhadan</string>
		<key>en</key>
		<string>[bomb]</string>
		<key>zh-Hans</key>
		<string>[炸弹]</string>
		<key>zh-Hant</key>
		<string>[炸弹]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ding</string>
		<key>en</key>
		<string>[support]</string>
		<key>zh-Hans</key>
		<string>[顶]</string>
		<key>zh-Hant</key>
		<string>[顶]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>baobao</string>
		<key>en</key>
		<string>[hug]</string>
		<key>zh-Hans</key>
		<string>[抱抱]</string>
		<key>zh-Hant</key>
		<string>[抱抱]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>OK</string>
		<key>en</key>
		<string>[OK]</string>
		<key>zh-Hans</key>
		<string>[OK]</string>
		<key>zh-Hant</key>
		<string>[OK]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>xin</string>
		<key>en</key>
		<string>[love]</string>
		<key>zh-Hans</key>
		<string>[心]</string>
		<key>zh-Hant</key>
		<string>[心]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>xinsui</string>
		<key>en</key>
		<string>[heartbroken]</string>
		<key>zh-Hans</key>
		<string>[心碎]</string>
		<key>zh-Hant</key>
		<string>[心碎]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>lanzuan</string>
		<key>en</key>
		<string>[blue diamond]</string>
		<key>zh-Hans</key>
		<string>[蓝钻]</string>
		<key>zh-Hant</key>
		<string>[藍鑽]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>labahua</string>
		<key>en</key>
		<string>[petunia]</string>
		<key>zh-Hans</key>
		<string>[喇叭花]</string>
		<key>zh-Hant</key>
		<string>[喇叭花]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>huangzuan</string>
		<key>en</key>
		<string>[yellow diamond]</string>
		<key>zh-Hans</key>
		<string>[黄钻]</string>
		<key>zh-Hant</key>
		<string>[黃鑽]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>dao</string>
		<key>en</key>
		<string>[knife]</string>
		<key>zh-Hans</key>
		<string>[刀]</string>
		<key>zh-Hant</key>
		<string>[刀]</string>
	</dict>
</array>
</plist>
